**/node_modules/
babel.config.js
.eslintrc.js
package.json
package-lock.json
.eslintrc.json
*.bak
temp*
**/.vscode/
*.js.*
*.bak.*
v0
**/venv/
**/__pycache__/
v0_b4_deadline
v0_update_models
v0_100
v0_advtask9done
__pycache__
